body {
    background-image: url(background.png);
}

h1 + p {
    float: right;
    margin-top: -43px;
}

h1 + p + p {
    font-size: 12px;
}

h2 {
    border-bottom: 1px solid #333333;
}

h5, h5 + ul {
    margin-left: 20px;
}

@media print {
    body {
        background-image: none;
    }

    * {
        color: #333333 !important;
    }

    h1 + p + p a:after {
        content: " (" attr(href) ")";
    }
}
